<h3 class="text-primary text-center"><strong>第一關</strong></h3>
<div class="container game-frame" ng-controller="step11Ctrl">
    <h4 class="text-danger text-center"><strong>任務區</strong></h4>
    <div class="row container-fluid game-cell-top">
        <div class="col-md-3 container">
            <img ng-src="{{srcTank}}" class="img-tank" style="width: 250px" alt="tank">
        </div>
        <div class="col-md-9 container">
            <img ng-src="{{srcLine}}" class="img-line" style="margin-top: 100px" alt="line">
        </div>
    </div>
    <div class="row container-fluid game-cell-bottom">
        <div class="col-md-6 fail-frame" ng-show="showCorrect">
            <h3 class="text-red text-center"><strong>擊中目標！！</strong></h3>
            <div class="text-center text-primary btn-circle cursor-pointer">
                前往下一關
            </div>
        </div>
        <div class="col-md-6" ng-show="showShoot">
            <h4 class="text-danger text-center"><strong>模擬區</strong></h4>
            <div class="container">
                <img ng-src="{{srcShoot}}" class="img-shoot" alt="shoot">
            </div>
        </div>
        <div class="col-md-6 fail-frame" ng-show="showFail">
            <h3 class="text-danger text-center"><strong>很可惜，射偏了！！</strong></h3>
            <div class="row">
                <div class="panel col-md-6 cursor-pointer" ng-click="playAgain()">
                    <div class="panel-body">
                        <img ng-src="img/female-soldier-head.png" class="img-head" alt="male-soldier-head">
                        <h3 class="text-center text-red"><strong>按我再試一次</strong></h3>
                    </div>
                </div>
                <div class="panel col-md-6 cursor-pointer" ng-click="readPoint()">
                    <div class="panel-body">
                        <img ng-src="img/male-soldier-head.png" class="img-head" alt="female-soldier-head">
                        <h3 class="text-center text-blue"><strong>按我看說明</strong></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 point-frame" ng-show="showPoint">
            <h2 class="text-primary text-center"><strong>說明</strong></h2>
            <div class="panel-body">
                <h3 class="text-deep-green">
                    數線由0出發，越往右表示數值越大，上圖中每一格的距離都是1，射擊的靶在第九格，所以距離應填9。
                </h3>
            </div>
        </div>
        <div class="col-md-6 border-left">
            <h4 class="text-danger text-center"><strong>發射區</strong></h4>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h3 class="text-center text-green col-md-12 ">輸入距離</h3>
                    <input class="input-frame col-md-10 text-center" type="number" ng-model="inputAns">
                </div>
            </div>
            <img ng-src="img/btn-fire.png" class="img-fire cursor-pointer" ng-click="onFire()">
        </div>
    </div>
</div>